services:
  hexo:
    image: my_blog # 使用我们刚构建的镜像
    container_name: my-hexo-container
    ports:
      - "4000:4000" # 确保端口映射存在
    volumes:
      - .:/app # 挂载当前目录，确保博客源码在容器内可见
      - ~/.ssh:/root/.ssh
    working_dir: /app # 设置工作目录为 /app
    # 移除 stdin_open 和 tty，因为后台运行不需要交互
    # stdin_open: true
    # tty: true
    # 修改 command 为启动 hexo 服务器的命令
    command: hexo server -i 0.0.0.0 # -i 0.0.0.0 让服务器监听所有接口
    # 或者使用数组形式
    # command: ["hexo", "server", "-i", "0.0.0.0"]
